@charset utf-8;
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
font-family: "Helvetica Neue", Helvetica, Arial,sans-serif, AppleGothic, 'Malgun Gothic', 'Nanum Gothic' !important;
}

#mainBox {
width:100%;
margin:0;
padding:0;
}

#main {
width:100%;
margin:70px auto;
padding:0;
}

.contentsframe {
width:728px;
}

.contents {
background-color:#fff;
margin:10px auto;
padding:0;
}
