@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    font-family: 'Noto Sans KR', 'Nanum Gothic', "Open Sans";
}

#mainBox {
    width: 100%;
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    margin: 70px auto;
    padding: 0;
}

.contentsframe {
    width: 800px;
}

.contents {
    background-color: #fff;
    margin: 10px auto;
    padding: 0;
}